<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" />


    <script defer src="../../node_modules/vue/dist/vue.global.js" > </script>
    <script defer src="../js/main.js"></script>
    <title>Document</title>
</head>
<body class="bg-nord5" id="body">

    <!-- Top Bar -->
    <div hidden id="titlebar" class="w-screen h-20 bg-nord0 p-5 pl-10 drop-shadow-sm shadow-nord0">
      <p class="text-xl text-nord6 pt-2 font-bold ">REWEL CONTENT SYSTEM</p>
    </div>

    <!--  Connect To Database -->
    <div id="connectToDBPopUp">
      <div class="bg-gradient-to-tr from-nord0 to-nord3 rounded-2xl max-w-md mx-auto mt-48 p-14  shadow-md shadow-nord0" v-if="visible">
          <div class="flex flex-col space-y-2">
              <h1 class="font-bold text-nord6 text-3xl">REWEL CMS</h1>
              <hr>
              <p class="text-nord6">Database URI</p>
              <p id="error" class="text-nord11" hidden >Error when connecting. Try Again</p>
              <input v-model="uri" type="text" id="db_uri_input" class="w-full h-8 rounded-sm pl-4" placeholder="Database URI">
              <button type="button" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150" id="accept" @click="connectClicked()">
                  <svg id="button_loading" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" hidden>
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                  </svg>
                  <p id="button_text">Connect</p>
              </button>
          </div>
      </div>
    </div>

    <!--  Sidebar 1 -->

    <div class="w-full flex flex-row">
      <div id="sidebar-1">
        <div class="w-72 bg-nord1 h-screen border-r-4 border-nord1" v-if="visible">
          <div class="flex ">
            <input type="text" class="w-full bg-nord3 text-nord3 h-10  pl-10" placeholder="Search">
          </div>
          <div class="resize-y">
            <p class="text-nord4 text-sm mb-1 ml-10 font-semibold my-3"> <i class="far fa-folder-open mr-1"></i> COLLECTIONS</p>      
            <select class="resize-y w-full overflow-auto bg-nord2 pt-2 hover:outline-none hover:border-none" size=6 >
              <option class="text-nord4 pl-14 pt-2 font-semibold text-sm bg-nord2"
                v-for="collection in collections"
                :value="collection"
                @click="requestDocuments(collection)"><i class="fas fa-chevron-right text-nord4"></i>{{collection}}</option>
            </select>
          </div>
          <div class="mt-4">
            <div class="flex my-3 px-10">
              <p class="text-nord4 text-sm font-semibold" v-on><i class="far fa-file-alt mr-2"></i> DOCUMENTS</p> 
              <i @click="newDocument()" class="ml-auto fas fa-plus text-nord4 hover:text-nord7"></i>
            </div>
            <select name="document_list" size=10 id="document_list" class="resize-y w-full overflow-x-clip overflow-auto bg-nord2 pt-2 hover:outline-none hover:border-none">
              <option  class="text-nord4 pl-14 pt-2 font-semibold text-sm bg-nord2"
              v-for="doc in documents"
              @click="editDocument(doc._id)"
              :selected="doc._id == selected_document._id"
              :value="doc._id"><i class="fas fa-chevron-right text-nord4"></i>{{doc.project_name}}</option>
            </select>
          </div>
        </div>
      </div>

      <!--  Content -->
      <div class="w-10/12">
        <div id="document_panel">
          <div class="bg-nord2 h-screen z-20 overflow-auto"
            v-if="visible" >
            <div class="flex flex-row pt-2 bg-nord3 px-10 pb-1">
              <p class="text-lg font-bold text-nord5"> DOCUMENT </p>
              <button class="ml-auto mr-8 font-normal text-base text-nord14">Save</button>
              <button class="text-base font-normal text-nord11">Delete</button>
            </div>
            <hr class="bg-nord1 border-0 h-9">
            <div v-for="name in Object.keys(documentData)" class="px-14 pt-10 resize-y">
              <p class="font-normal text-base text-nord4">{{name}}</p>
              <input class="resize-y w-full mb-5 " type="text" name="{{name}}" id="{{name}}">
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>